{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Profile:</h1>
    <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h3 class="card-title">{{ app.user.firstname }} {{ app.user.lastname }}</h3>
          <p class="card-text">Email address: {{ app.user.email }}</p>
          <p class="card-text">Zip-code: {{ app.user.zipcode }}</p>
          <p class="card-text">City: {{ app.user.city }}</p>
        </div>
    </div>
    
</div>
{% endblock %}
